.root {
    -fx-font-family: "Segoe UI", "Arial Rounded MT Bold";
    -fx-background-color: transparent;
}

/*  */
.glass-root {
    -fx-font-family: "Segoe UI", "Arial Rounded MT Bold";
    -fx-background-color: rgba(4, 0, 20, 0);
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: rgba(231, 231, 231, 0.685);
    -fx-border-width: 1.2;
    -fx-padding: 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0), 38, 0.45, 0, 14);
}

.auth-card {
    -fx-font-family: "Segoe UI", "Arial Rounded MT Bold";
    -fx-background-color: transparent;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-color:
        rgba(122, 122, 122, 0.32),
        rgba(255, 255, 255, 0.575);
    -fx-border-width:
        1.4,
        2 2 2 2;
    -fx-border-insets:
        0,
        0.4;
    -fx-padding: 0;
    -fx-min-width: 600;
    -fx-max-width: 600;
    -fx-max-height: 380;
}

.auth-card-inner {
    -fx-padding: 26 38 30 38;
}

.auth-card-blur-layer {
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-background-color: rgba(92, 92, 92, 0.411);
}

.register-pane,
.login-pane {
    -fx-alignment: TOP_CENTER;
    -fx-spacing: 14;
}

.login-title {
    -fx-font-family: "Segoe UI", "Arial Rounded MT Bold";
    -fx-text-fill: #f9fafb;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 6 0;
}

.login-field {
    -fx-background-radius: 999, 998;
    -fx-border-radius: 999;
    -fx-background-insets: 0, 1;
    -fx-background-color:
        rgba(85, 85, 85, 0.123),
        rgba(255, 255, 255, 0.096);
    -fx-border-color: rgba(248, 250, 252, 0.55);
    -fx-border-width: 1.3;
    -fx-text-fill: #e5e7eb;
    -fx-prompt-text-fill: rgba(209, 213, 219, 0.90);
    -fx-padding: 8 14 8 14;
    -fx-min-height: 34;
    -fx-effect: dropshadow(gaussian, rgba(15, 23, 42, 0.151), 12, 0.35, 0, 0.151);
}

.login-field:focused {
    -fx-border-color: linear-gradient(to right, #2b299291, #0b149c52);
    -fx-effect: null;
}

.login-button {
    -fx-background-radius: 999;
    -fx-border-radius: 999;
    -fx-background-insets: 0, 1;
    -fx-background-color:
        rgba(248, 250, 252, 0.95),
        rgba(209, 213, 219, 0.65);
    -fx-border-color: rgba(248, 250, 252, 0.9);
    -fx-border-width: 1.4;
    -fx-text-fill: #111827;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-padding: 8 16 8 16;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(15, 23, 42, 0.151), 16, 0.55, 0, 0.151);
}

.login-button:hover {
    -fx-background-color:
        rgba(255, 255, 255, 0.267),
        rgba(229, 231, 235, 0.85);
    -fx-effect: dropshadow(gaussian, rgba(191, 219, 254, 0), 18, 0.65, 0, 0);
}

.login-button:pressed {
    -fx-effect: dropshadow(gaussian, rgba(15, 23, 42, 0), 10, 0.55, 0, 0);
}

.login-button:disabled {
    -fx-background-color: rgba(56, 65, 78, 0.37);
    -fx-border-color: rgba(156, 163, 175, 0.7);
    -fx-text-fill: #e4e4e4;
    -fx-opacity: 1;
    -fx-effect: null;
}

.login-link {
    -fx-text-fill: #dadada;
    -fx-underline: false;
    -fx-font-size: 12px;
}

.login-link:hover {
    -fx-text-fill: #cacaca;
    -fx-underline: true;
}

.login-error {
    -fx-text-fill: #f97373;
    -fx-font-size: 12px;
    -fx-padding: 4 0 0 0;
}

.label {
    -fx-text-fill: #e5e7eb;
}

.register-hint {
    -fx-text-fill: #9ca3af;
    -fx-font-size: 11px;
}

.mac-titlebar {
    -fx-background-radius: 19 19 0 0;
    -fx-border-radius: 19 19 0 0;
    -fx-background-insets: 0;
    -fx-background-color: rgba(207, 207, 207, 0.151);
    -fx-border-color:
        rgba(122, 122, 122, 0.32),
        rgba(255, 255, 255, 0.20);
    -fx-border-width:
        1,
        2 2 2 2;
    -fx-border-insets:
        0,
        0.4;
    -fx-padding: 8 12 8 12;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0), 14, 0.4, 0, 4);
}

.mac-title {
    -fx-text-fill: #faf9fb;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-opacity: 0.9;
    -fx-letter-spacing: 0.5px;
    -fx-alignment: CENTER;
}

.window-button-close {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-background-radius: 999;
    -fx-padding: 2 10 2 10;
    -fx-cursor: hand;
}

.window-button-close:hover {
    -fx-background-color: rgba(211, 211, 211, 0.15);
    -fx-text-fill: #e0e0e0;
}

.login-divider {
    -fx-opacity: 0.7;
}

.login-divider:vertical .line {
    -fx-border-color: rgba(255, 255, 255, 0.24);
    -fx-border-width: 0 0 0 1;
}